*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;

}

html {
  /* This will make 1rem = 10px */
  font-size: 62.5%;
}

/* "html body" - to override the chakra ui styles */
html body {
  box-sizing: border-box;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #09223d; /* "dark-blue" color from brand colors */
  color: #d1deea; /* "white" color from brand colors */
}

#root {
  min-height: 100vh;
}
.app{
  /* background-color: #083256; */
  background-color: #EBF8FF;
  min-height: 73rem;
}