.login {
  background-color: #40415a;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content {
  width: min(55rem, 95%);
}
.login-heading {
  display: flex;
  justify-content: center;
}
.login-heading > h1 {
  color: white;
  font-size: 6rem;
}

.email-div {
  margin-top: 4rem;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding-left: 1.5rem;
  justify-content: center;
  align-items: center;
}

.pass-div {
  margin-top: 4rem;
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding-left: 1.5rem;
  justify-content: center;
  align-items: center;
}

.icons {
  color: #babacc;
}
.login-button {
  margin-top: 4rem;
  background-color: #d55161;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: none;
}

.option {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  color: white;
}
.option-signup {
  margin-left: 0.5rem;
  color: white;
}
