doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
  body
    table
      tbody
        tr
          td
            div
              // CONTENT AREA
              table(role='presentation', cellpadding='0', cellspacing='0', border='0',)
                tbody
                  tr
                    td
                      block emailContent

